body {
  background-image: url("pexels-pixabay-2150.jpg");
}

/**header text not center on smaller displays**/

header {
  font-family: "IM Fell English SC", serif;
  color: white;
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  justify-content: center;
  margin-left: 10%;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: 10%;
}

.startContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin: 5px;
  border-radius: 14px;
  border-color: gold;
  background-color: #f2f2f2;
  color: #271359;
  /* align-items: center; */
  width: 70px;
}

#reset {
  padding: 8px;
  border-radius: 14px;
  border-color: gold;
  background-color: #f2f2f2;
  color: #271359;
  align-items: center;
  width: 100px;
  justify-content: center;
}

dialog {
  padding: 15px;
  border-radius: 14px;
  border-color: gold;
  background-color: #f2f2f2;
  color: #271359;
  align-items: center;
  width: 200px;
  justify-content: center;
}

#start-btn {
  font-weight: bold;
}

footer {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; */
}

.deck {
  width: 350px;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  border-color: antiquewhite;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 0%;
}

.card {
  position: relative;
  width: 25%;
  height: 33.333%;
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.card.flip {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.back-face,
.front-face {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-size: 100px;
  transition: transform 0.3s ease-in-out;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

/**.card.hide {
    transform: scale(0); /shrink to hide **/

.instructions {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

#countdown {
  margin-top: 8px;
  font-size: 30px;
  color: white;
  border: 2px solid gold;
  border-radius: 20px;
  padding: 5px;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  body {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  main {
    padding-top: 0px;
    margin-top: 0px;
  }

  header {
    font-size: 80px;
    margin-left: 5%;
    margin-top: 200px;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 10%;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }

  button {
    display: flex;
    justify-content: center;
    padding: 8px;
    margin: 5px;
    border-radius: 14px;
    border-color: gold;
    background-color: #f2f2f2;
    color: #271359;
    /* align-items: center; */
    width: 140px;
  }

  #countdown {
    margin-top: 8px;
    font-size: 50px;
    color: white;
    border: 2px solid gold;
    border-radius: 20px;
    padding: 5px;
    align-items: center;
  }

  .gameContainer {
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 15%;
  }

  .deck {
    position: center;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    perspective: 1000px;
    border-color: antiquewhite;
    border-radius: 5px;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    padding-top: 0%;
  }

  /** for desktop **/
}
