body {
  background-image: url("pexels-pixabay-2150.jpg");
}

/**header text not center on smaller displays**/

header {
  font-family: "IM Fell English SC", serif;
  color: white;
  font-size: 45px;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

button {
  padding: 8px;
  border-radius: 14px;
  border-color: gold;
  background-color: #f2f2f2;
  color: #271359;
  align-items: center;
  width: 150px;
  justify-content: center;
}

#reset {
  padding: 8px;
  border-radius: 14px;
  border-color: gold;
  background-color: #f2f2f2;
  color: #271359;
  align-items: center;
  width: 150px;
  justify-content: center;
}

dialog {
  padding: 15px;
  border-radius: 14px;
  border-color: gold;
  background-color: #f2f2f2;
  color: #271359;
  align-items: center;
  width: 200px;
  justify-content: center;
}

#start-btn {
  font-weight: bold;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.deck {
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  border-color: antiquewhite;
  border-radius: 5px;
}

.card {
  position: relative;
  width: 25%;
  height: 33.333%;
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.card.flip {
  transform: rotateY(180deg);
  transition: transform 0.5s;
}

.back-face,
.front-face {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-size: 100px;
  transition: transform 0.3s ease-in-out;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

/**.card.hide {
    transform: scale(0); /shrink to hide **/

.instructions {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

#countdown {
  margin-top: 8px;
  font-size: 50px;
  color: white;
  border: 2px solid gold;
  border-radius: 20px;
  padding: 5px;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  #deck {
    position: center;
  }

  header {
    font-size: 80px;
  }

  /** for desktop **/
}
